<h3>This article has <% Article.comments.public_count %> comments!</h3>

<% unless comment.archived? %>
 <p>
    <strong>Commenter:</strong>
    <%= comment.commenter %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= comment.body %>
  </p>
<% end %>
